* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*::selection {
	background-color: #6935f2;
}

html {
	font-family: arial;
}

:root {
	--black-background: rgb(13,17,23);
}

::-webkit-scrollbar {
  display: none;
}

.clear {
	clear: both;
}

.header {
	display: flex;
	position: relative;
	height: 50px;
}

.header #favicon {
	margin-top: 30px;
	margin-left: 70px;
	display: inline-block;
	--favicon-size: 50px;
	position: relative;
	width: var(--favicon-size);
	height: var(--favicon-size);
	background: url("/assets/img/welcome/favicon-welcome.jpg") top center / cover no-repeat;
}

#main {
	position: relative;
}

#main .background-welcome {
	background: url("/assets/img/welcome/welcome-background.png") top center / cover no-repeat;
	height: 656px;
}
.body {
	width: 100%;
	color: white;
	text-transform: uppercase;
	padding: 20px 650px 100px 70px;
}

#main .button-started {
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 14px;
	text-decoration: none;
	color: white;
	bottom: 150px;
	font-weight: 600;
}

#main .button-started:hover {
	background: #bcbcbc;
	color: #343d53;
}

#main .main-heading {
	text-shadow: 3px 2px blue;
	font-size: 70px;
	padding-bottom: 10px;
	padding-top: 130px;
}

#main .main-sub-heading {
	letter-spacing: 18px;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 25px;
}

#main .main-desc {
	line-height: 1.7;
	padding: 10px 0;
	font-size: 12px; 
}

.header .admin-name {
	color: white;
	margin-left: 10px;
	margin-top: 45px;
	font-size: 20px;
	font-weight: 600;
}

.verified {
	font-size: 12px;
	border-radius: 100em;
	background: blue;
	border: 3px solid #ccc;
}

#main .nav {
	margin-top: 25px;
	margin-right: 25px; 
	color: white;
	display: flex;
	position: absolute;
	right: 0;
}
#main .nav-main-menu,
#main .nav-main {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
    	padding: 20px 30px;
    	color: white;
    	text-decoration: none;
}

#main .nav-main-menu:hover,
#main .nav-main:hover {
	background: #ccc;
	color: black;
}

.ti-menu {

}

/*#main .ti-menu:hover li {
	display: inline-block;
}

#main .subnav {
	right: 0;
	margin-top: 10px;
	width: 100%;
	position: absolute;
	color: white;
	list-style-type: none;
	display: none;
}

#main .subnav:hover li {
	display: inline-block;
}*/

@media (max-width: 739px) {
	#main .background-welcome {
		min-width: 720px;
		min-height: 1280px;
	}

	#main .nav-main {
		display: none;
	}

	.body {
<<<<<<< HEAD
    	width: 100%;
    	color: white;
    	text-transform: uppercase;
    	padding: 195px 101px 0px 51px;
	}

	#main .button-started {
    	position: absolute;
    	border: 1px solid #ccc;
    	border-radius: 15px;
    	padding: 14px;
    	text-decoration: none;
    	color: white;
    	bottom: 570px;
    	font-weight: 600;
=======
    		width: 100%;
    		color: white;
    		text-transform: uppercase;
    		padding: 195px 101px 0px 51px;
	}

	#main .button-started {
    		position: absolute;
    		border: 1px solid #ccc;
    		border-radius: 15px;
    		padding: 14px;
    		text-decoration: none;
    		color: white;
    		bottom: 570px;
    		font-weight: 600;
>>>>>>> 81c95c4c42bdd25562c27cb8f67e3544b32f913f
	}
}
