* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*::selection {
	background-color: #6935f2;
}

html {
	font-family: arial;
}

:root {
	--black-background: rgb(13,17,23);
}

::-webkit-scrollbar {
  display: none;
}

.clear {
	clear: both;
}

#header {
	position: fixed;
	width: 100%;
	background: var(--black-background);
	height: 39px;
	z-index: 1
}

#header .header-back-more {
	border-radius: 0px 3px 23px 0px;
	background: linear-gradient(to bottom right, #cd6090, #6d44d5);
	display: inline-block;
	padding: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: white;
	position: fixed;
	box-shadow: 2px 2px #ccc;
}

#header .header-back-more:hover {
	background: #ccc;
	color: black;
}

#header .task-bar {
	background: #ccc;
	color: black;
	display: flex;
	margin-left: 50%;
	transform: translateX(-50%);
	padding: 10px 210px;
	border-radius: 10px;
	font-weight: 600;
	position: fixed;
	z-index: 1;
	height: 39px;
}

.task-bar .logo-website {
	padding-right: 10px;
}

.task-bar .bread-crumb {
	padding: 0 10px;
	letter-spacing: 3px;
}

#body {
	padding: 0 50px;
	padding-top: 100px;
	display: flex;
	background: var(--black-background);
	padding-bottom: 300px;
}

#body .blog-content {

}

#body .post {
	position: relative;
	display: flex;
	padding: 20px 10px;
	border: 5px solid #ccc;
	border-radius: 16px;
	width: calc(100% / 4);
	margin: 0px 30px;
}

#body .post:hover {
	box-shadow: 7px 7px #ccc;
}

#body .post-picture {
	height: 120px;
	width: 100%;
	border: 1px solid #ccc;
	display: flex;
}

#body .blog-post {
	padding:0 10px;
	padding-top: 24px;
}

#body .blog-post .post-name {
	color: #fff;
	font-size: 20px;
	padding-bottom: 20px;
	text-decoration: none;
	font-weight: 700;
	line-height: 1.6;
}

#body .blog-post .person-posted-name {
	color: #fff;
	margin-top: 20px;
	font-size: 18px;
}

#body .post-desc {
	color: #fff;
	margin-top: 10px;
	line-height: 1.6;
}

#body .id-post {
	color: #fff;
	font-size:18px;
	font-weight: 900;
}

.ti-check {
	border-radius: 100em;
	background: blue;
	border: 3px solid #ccc;
	color: white;
}

.space {
	padding: 30px 0;
}

#footer {
	
}

.posting {
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	background: linear-gradient(to right bottom, #20b2aa, #a0db8e);
	color: white;
	font-size: 18px;
	font-weight: 600;
}

.editing {
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	background: red;
	color: white;
	font-size: 18px;
	font-weight: 600;
}

.post .new-post {
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	background: linear-gradient(to right bottom,#f5857d, #f44336);
	color: white;
	font-size: 18px;
	font-weight: 600;
}

@media (min-width: 740px) and (max-width: 1023px) {
	#header .task-bar {
		/*position: absolute;
    		background: #ccc;
    		color: black;
    		display: flex;
    		float: right;
    		padding: 10px 15px;
    		border-radius: 10px;
    		font-weight: 600;
    		position: fixed;
    		z-index: 1;
    		height: 39px;*/
    		display: none;
	}

	#body {
    		width: 100%;
    		padding: 0 20px;
    		padding-top: 100px;
    		display: inline-block;
    		background: var(--black-background);
    		padding-bottom: 100px;
	}

	#body .post {
    		position: relative;
    		/* display: flex; */
    		padding: 35px 157px;
    		border: 5px solid #ccc;
    		border-radius: 16px;
    		width: calc(100%);
    		margin: 0;
	}

	.post {
		padding:15px 20px;
	}

	#body .post-picture {
    		height: 215px;
    		width: 100%;
    		border: 1px solid #ccc;
    		display: flex;
	}
}

@media (max-width: 739px) {
	#header .task-bar {
		/*position: absolute;
    		background: #ccc;
    		color: black;
    		display: flex;
    		float: right;
    		padding: 10px 15px;
    		border-radius: 10px;
    		font-weight: 600;
    		position: fixed;
    		z-index: 1;
    		height: 39px;*/
    		display: none;
	}
	#body {
    		padding: 0 20px;
    		padding-top: 100px;
    		display: inline-block;
    		background: var(--black-background);
		padding-bottom: 100px;
	}

	#body .post {
   		position: relative;
    		/* display: flex; */
    		padding: 35px 25px;
	    	border: 5px solid #ccc;
	    	border-radius: 16px;
    		width: calc(100%);
    		margin: 0;
	}

	.post {
		padding:15px 20px;
	}

	#body .post-picture {
    		height: 150px;
    		width: 100%;
    		border: 1px solid #ccc;
    		display: flex;
	}
}
