* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*::selection {
	background-color: #6935f2;
}

html {
	font-family: arial;
}

.clear {
	clear: both;
}

:root {
	--height:50px;
	--size-avatar: 40px;
}

#main {

}
							/*Header Section*/
#header {
	text-transform: uppercase;
	height: var(--height);
	background: linear-gradient(-90deg, #ccc, black);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#nav {
	list-style-type: none;
	display: inline-block;
}

#nav li {
	display: inline-block;
	line-height: var(--height);
	padding: 0 16px;
}

#nav > li:hover {
	background-color: #ccc;
}

#nav > li:hover > a {
	color: black;
}

#nav li a {
	color: white;
	text-decoration: none;
	font-weight: 600;
}

#header .avatar-demo {
	height: var(--size-avatar);
	width: var(--size-avatar);
	background: url("/assets/img/home/avatar-demo-home-1.jpg") top center / cover no-repeat;
	display: inline-block;
	float: right;
	border-radius: 100em;
	box-shadow: 0px 0px 1px 1px cyan;
	line-height: var(--height);
	margin: 5px 10px 5px 0px;
}

							/*Slider Section*/
#slider {
	margin-top: var(--height);
	position: relative;
	padding-top: 50%;
	background: url("/assets/img/home/slider_home_3.gif") top center / cover no-repeat ;
}

#slider .text-content-slider {
	position: absolute;
	color: white;
	bottom: 200px;
	text-align: center;
	width: 100%;
}

#slider .text-heading {
	font-weight: 600;
	font-size: 40px;
	color: #50c878;
	text-shadow: 2px 2px #ccc;	
}

#slider .text-description {
	font-size: 20px;
	margin-top: 25px;
}
							/*Content Section*/
#content {
	background: linear-gradient(to bottom right, #cd6090, #6d44d5)
}

/*#content .section-img-1 {
	
}

#content .section-img-2 {
	
}

#content .section-img-3 {
	
}

#content .section-img-4 {
	
}
*/
#content .project-section {
	background: linear-gradient(to bottom right, #cd6090, #6d44d5);
}

#content .project-list {
	background: white;
	margin-top: 40px;
}

#content .project-list li {
	color: #757575;
	font-size: 15px;
	padding: 11px 16px;
	list-style-type: none;
	border-bottom: 1px solid #ddd; 
}

.project-content-heading {
	text-align: center;
	font-size: 16px;
	margin-top: 25px;
	font-style: italic;
	opacity: 0.8;
	color: white;
}

#content .finish {
	color: white;
	background-color: #50c878;
	padding: 3px 4px;
	margin-left: 16px;
}

#content .quantity {
	float: right;
	width: 24px;
	height: 24px;
	background-color: #333;
	color: white;
	border-radius: 50%;
	text-align: center;
	line-height: 24px;
	margin-top: -3px;
}

#content .planning {
	color: white;
	background-color: #6d44d5;
	padding: 3px 4px;
	margin-left: 16px;
}

.project-hot {
	margin: 32px -8px 0px;
	padding-bottom: 48px;
}

.project-items {
	float: left;
	width: calc(100%/3);
	padding: 0 8px;
}

.project-img {
	width: 100%;
	display: block;
	height: auto;
}

.project-img:hover {
	opacity: 0.6;
}

.project-items-body {
	background-color: #fff;
	font-size: 15px;
	padding: 16px;
}

.project-items-heading {
	font-size: 15px;
	font-weight: 600;
}

.project-items-date {
	 margin-top: 15px;
	 color: #757575;
}

.project-items-desc {
	 margin-top: 15px;
	 line-height: 1.4;
}

.project-admin-post {
	padding-top: 16px;
	font-weight: 700;
}

.project-admin-icon {
	border-radius: 100em;
	border: 3px solid #ccc;
	font-size: 10px;
	line-height: 33px;
	font-weight: 900;
	text-align: center;
	padding: 3px;
	background: blue;
	color: white;
}

.learn-more-btn {
	color: #fff;
	background-color: #000;
	text-decoration: none;
	padding: 11px 16px;
	display: inline-block;
	margin: 15px 0;
	cursor: pointer;
	border: none;
}

.learn-more-btn:hover {
	color: black;
	background-color: #ccc;
}

#content .team-section {
	background: #bcb88a;
}

#content .contact-section {
	background: linear-gradient(to bottom right, #cd6090, #6d44d5);
}

#content .more-section {
	background: #f9a799;
}

#content .content-section {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 64px 15px;
}
#content .section-heading {
	position: relative;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 3px;
	padding-bottom: 20px;
	border-bottom: 1px dashed rgba(0,0,0,0.3);
}

#content .section-sub-heading {
	text-align: center;
	font-size: 15px;
	margin-top: 25px;
	font-style: italic;
	opacity: 0.6;
	color: white;
}

#content .content-text {
	font-size: 15px;
	margin-top: 25px;
	margin-bottom: 20px;
	text-align: justify;
	line-height: 1.6;
	color: white;
}

#content .go-to-page {
	padding: 10px;
	color:black;
	text-decoration: none;
	border: 4px solid #ccc;
	border-radius: 15px;
	font-weight: 700;
}

#content #more:hover,
#content #contact:hover,
#content #project:hover,
#content #team:hover {
	background-color: #ccc;
	color: #91288d;
	border-color: white;
}


#content .ti-angle-right {
	font-size: 15px;
	font-weight: 800;
}

							/*Footer Section*/
#footer {

}

.modal {
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	align-items: center;
	justify-content: center;
	display: none;
}

.modal.open	{
	display: flex;
}

.modal .modal-container {
	background: white;
	width: 900px;
	max-width: calc(100% - 32px);
	min-height: 200px;
	position: relative;
}

.modal .modal-close {
	position: absolute;
	right:0;
	top: 0;
	font-size: 20px;
	color: #fff;
	padding: 12px;
	cursor: pointer;
	opacity: 0.8;
}

.modal .modal-close:hover {
	opacity: 1;
}

.modal .ti-close {

}

.modal .ti-control-play {

}

.modal .icons-modal-header {
	margin-right: 12px;
}

.modal .modal-header {
	background:linear-gradient(to bottom right, #cd6090, #6d44d5);
	height: 130px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 1px #ccc;
}

.modal .modal-body {
	padding: 16px;
}

.modal .modal-warning {
	padding: 10px;
	text-align: center;
	text-shadow: 1px 1px #ccc;
}

.modal .modal-label {
	display: block;
	font-size: 17px;
	margin-bottom: 20px; 
}

.modal .modal-button {
	text-decoration: none;
	color: #003263;
	border: 1px solid black;
	border-radius: 10px;
	padding: 8px;
	font-size: 15px;
	box-shadow: 3px 2px #ccc;
}

.modal .modal-button:hover {
	background: linear-gradient(to left, #7bc241, #015697);
	color: #ccc;
}

.modal .modal-body-section {
	border-bottom: 1px solid #ccc; 
	padding: 20px;
}

.modal .modal-navigation-page {

}
.modal .modal-footer {

}

.modal .modal-footer a {
	color: #2197f3;
}

.modal .modal-help {
	text-align: right;
	padding: 8px 28px 14px 14px;
}

.modal .modal-safe-page {
	display: inline-block;
    float: right;
    border: 1px solid #000;
    padding: 6px;
    border-radius: 7px;
    text-align: center;
    background-color: #00a261;
    color: white;
    font-weight: 600;
}