* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: arial;
}

#main {

}
							/*Header Section*/
#header {
	text-transform: uppercase;
	height: 46px;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#nav {
	list-style-type: none;
}

#nav li {
	display: inline-block;
	line-height: 46px;
	padding: 0 16px;
}

#nav > li:hover {
	background-color: #ccc;
}

#nav > li:hover > a {
	color: black;
}

#nav li a {
	color: white;
	text-decoration: none;
	font-weight: 600;
}
							/*Slider Section*/
#slider {
	background-color: #5a5b61;
	padding-top: 50%;
	margin-top: 46px;
	position: relative;
}

#slider .back-home {
	padding: 12px 15px 10px 10px;
	position: absolute;
	top: 0;
	text-align: center;
	color: white;
	text-decoration: none;
	background-color: rgba(0,255,255,0.2);
	border: 0px none none;
	border-radius: 0px 0px 40px 0px;
}

#slider .back-home:hover {
	background-color: #45d6bd;
	opacity: 0.8;
	color: #333;
}

							/*Content Section*/
#content {

}
							/*Footer Section*/
#footer {

}