* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*::selection {
	background-color: #6935f2;
}

html {
	font-family: arial;
}

::-webkit-scrollbar {
  display: none;
}

.clear {
	clear: both;
}

:root {
	--height:50px;
	--size-avatar: 40px;
}

#main {
	overflow: hidden;
}
							/*Header Section*/
#header {
	z-index: 2;
	text-transform: uppercase;
	height: var(--height);
	background: linear-gradient(-90deg, #ccc, black);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

#nav {
	list-style-type: none;
	display: inline-block;
}

#nav li {
	display: inline-block;
	line-height: var(--height);
	padding: 0 16px;
}

#nav > li:hover {
	background-color: #ccc;
}

#nav > li:hover > a {
	color: black;
}

#nav li a {
	color: white;
	text-decoration: none;
	font-weight: 600;
}

.menu-btn {
	font-size: 20px;
	color: #737171;
	float: right;
	padding: 0 21px;
	line-height: 50px;
}

.menu-btn:hover {
	background: #ccc;
	color: black;
}

#header .avatar-demo {
	height: var(--size-avatar);
	width: var(--size-avatar);
	background: url("/assets/img/home/avatar-demo-home-1.jpg") top center / cover no-repeat;
	display: inline-block;
	float: right;
	border-radius: 100em;
	box-shadow: 0px 0px 1px 1px cyan;
	line-height: var(--height);
	margin: 5px 10px 5px 0px;
}

#slider {
	background: url("/assets/img/more/more-img-2.jpg") top center / cover no-repeat;
	padding-top: 50%;
	margin-top: var(--height);
	position: relative;
}

#slider .slider-container{
	position: absolute;
	top: 0;
	padding: 0 293px;
}

#slider .slider-heading{
	text-align: center;
	color: white;
	padding-top: 50px;
	padding-bottom: 30px;
}

#slider .slider-desc{
	text-align: center;
	color: white;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

#slider .slider-container-list {
	display: flex;
	margin: 0 70px;
}

#slider .slider-container-list .menu-infor {
	color: white;
	padding:30px 10px;
	list-style-type: none;
	font-size: 20px;
	font-weight: 600;
	border: 1px solid cyan;
	margin: 0 10px;
	border-radius: 20px;
	text-align: center;
	max-width: 300px;
}

#slider .menu-link{
	color: white;
	text-decoration: none;
	float: right;
	border: 1px solid #ccc;
	border-radius: 12px;
	padding: 10px;
	font-size: 15px;
	margin-top:20px;
	/*margin-right: 16px;*/
}

#slider .slider-container-icons {
	color: white;
	padding-right: 8px;
}

#slider .menu-desc {
	font-size: 12px;
	padding: 0 12px;
	padding-top: 20px;
}

.space {
	padding: 30px 0;
}

@media (min-width: 1024px) {
	#slider {
		min-height: 780px;
	}

	#slider .slider-container{
		position: absolute;
		top: 0;
		padding: 0 122px;
	}
}

@media (min-width: 740px) and (max-width: 1023px) {
	#slider {
		min-height: 973px;
	}

	#slider .slider-container{
		position: absolute;
		top: 0;
		padding: 0;
	}
}

@media (max-width: 739px) {
	#nav li {
		display: block;
	}

	#header .avatar-demo {
		display: none
	}

	#slider .slider-container{
		position: absolute;
		top: 0;
		padding: 0;
	}

	#slider {
		min-height: 1000px;
		padding: 0 10px;
	}

	#slider .slider-container-list {
    	display: flex;
    	margin: 0 10px;
    }
}